version: "3.8"

services:
  redis:
    image: redis:7.2
    container_name: redis-local
    ports:
      - "6379:6379"
    command: >
      redis-server
        --maxmemory 256mb
        --maxmemory-policy allkeys-lru

  app:
    build: .
    container_name: redis-demo-app
    ports:
      - "3000:3000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ""
    depends_on:
      - redis
